test.dtd

<!ELEMENT arbol (especie+)>
<!ELEMENT especie (nombre, variedad, origen, color, maduracion, riego, precio)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT variedad (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT maduracion (#PCDATA)>
<!ELEMENT riego (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ENTITY valor SYSTEM "valor de la entidad">